@Font-face{
	font-family: fontt;
	src: url(Storytime.ttf);
}
.oscuro{
	width: 900px;
	margin: auto;
}
header{
	width: 700px;
	height: 200px;
	background-color: blueviolet;
}
.hola{
	position: block;
	height: 200px;
	width: 700px;
	background-image: url(foto1.jpg);
	animation: imagess 10s infinite alternate;
}

@keyframes imagess {
	0%  {background-image: url(foto1.jpg)}
	20%  {background-image: url(foto2.jpg)}
	40%  {background-image: url(foto3.jpg)}
	60%  {background-image: url(foto4.jpg)}
	80%  {background-image: url(foto5.jpg)}
	100%  {background-image: url(foto1.jpg)}
}
.nombre{
	position: relative;
	left: 370px;
	bottom: 60px;
	font-family: fontt;
	font-size: 40px;
	color: lightpink;
}
nav{
	width: 200px ;
	height: 600px;
	background-color: skyblue;
	float: left;
}
.tvd {
	display: flex;
	width: 150px;
	height: 40px;
	margin: auto;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
	align-content: space-between;
	justify-content: center;
	flex-direction: column;
}


.lili{
	background-color: palevioletred;
	color: skyblue;


}
.lili:hover {
  background-color: darkred;
  color: blanchedalmond;

}
.lee{
	background-color: limegreen;
	color: lightblue;

}
.lee:hover {
  background-color: darkkhaki;
  color: palevioletred;

}
.luu{
	background-color: darkviolet;
	color: lightblue;


}
.luu:hover {
  background-color: darksalmon;
  color: darkgoldenrod;

}
.dropdown {
  position: relative;
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightpink;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,90,89);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

section{
	width: 500px;
	height: 600px;
	background-color: greenyellow;
	float: left;
}
div.polaroid {
	display: flex;
  width: 33%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;


}
footer{
	width: 700px;
	height: 100px;
	background-color: lightpink;
	clear: both;
}

.adios{
	font-size: 12px;
	font-family: fontt;
	float:  right;
}